@import url(_reset.css);

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-width: 80px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero__title p {
  color: white;
  font-size: 72px;
}

h2 {
  padding-top: 80px;
  font-size: 48px;
  font-weight: bolder;
  align-self: center;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 20px;
}

a:hover {
  font-style: italic;
}

body {
  font-family: "RIDIBatang", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(246, 245, 255);
  padding-top: var(--header-width);
}

header {
  width: 100%;
  height: var(--header-width);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr;
  text-transform: uppercase;
  font-weight: bold;
}

header nav ul li {
  font-size: 18px;
  text-align: center;
}

header nav ul li h1 {
  text-align: left;
}

header nav ul li h1 a {
  text-decoration: none;
  color: black;
}

.header__title,
.infoBtn,
.workBtn,
.heroBtn,
.contactBtn {
  cursor: pointer;
}

.info {
  width: 100px;
  height: 100px;
  background-color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-content: center;
  padding-top: 0;
}

section.hero article {
  height: 100%;
  justify-self: center;
  align-self: center;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.hero__img {
  background-image: url(img/프로필.JPG);
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(50%);
}

@media screen and (max-width: 1000px) {
  header nav ul {
    gap: 40px;
  }
}

.info__contents {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.contact {
  background-color: rgb(192, 196, 238);
  width: 100%;
  height: 15vh;
}
