@import url(_reset.css);

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-width: 80px;
  --main--bg--color: rgb(246, 245, 255);
  --sub--bg--color: rgb(192, 196, 238);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  font-weight: bolder;
}

.hidden {
  opacity: 0;
}
.hero__console {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
  font-size: 4em;
}

.console-container {
  text-align: center;
}

.console-underscore {
  font-size: 4em;
  display: inline-block;
  position: relative;
  left: 10px;
}

h2 {
  padding-top: 80px;
  font-size: 48px;
  font-weight: bolder;
  align-self: center;
  margin-bottom: 80px;
}

h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 40px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

a:hover {
  font-style: italic;
}

body {
  font-family: "RIDIBatang", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main--bg--color);
  padding-top: 0;
}

header {
  width: 100%;
  height: var(--header-width);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  z-index: 3;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr;
  text-transform: uppercase;
  font-weight: bold;
}

header nav ul li {
  font-size: 18px;
  text-align: center;
}

header nav ul li h1 {
  text-align: left;
}

.header__title,
.infoBtn,
.workBtn,
.heroBtn,
.contactBtn,
li a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 0;
}

section.hero article {
  justify-self: center;
  align-self: center;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}
section.hero article.hero__info {
}

.hero__img {
  background-image: url(img/프로필.JPG);
  background-size: cover;
  height: 100vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  filter: brightness(40%);
  transition: filter 0.5s ease-in-out;
}

.hero__img:hover {
  filter: brightness(100%);
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0px 20px;
  }
  header nav ul {
    gap: 20px;
  }
  .hero__title p {
    font-size: 48px;
  }

  .contact__info {
    font-size: 11px;
  }
  .hero__work .work__contents {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__work .work__contents .work__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .hero__work .work__contents .work__content .content__wrapper {
    order: 3;
  }
}

.info__contents {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.hero__work {
  width: 100%;
}

.work__contents {
  width: 100%;
  padding: 0px 120px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  justify-items: center;
}

.work__content {
  width: 100%;
  border-radius: 25px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 60px;
}

.content__wrapper {
  order: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__wrapper h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

.content__wrapper a {
  font-size: 24px;
  font-weight: 500;
  color: black;
  background-color: var(--sub--bg--color);
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.1s linear;
}

.content__wrapper a:hover {
  background-color: black;
  color: var(--sub--bg--color);
}

.work__contents .work__movie,
.work__youtube,
.work__zoom {
  aspect-ratio: 1;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
}

.work__movie {
  background-image: url(img/work1.png);
}

.work__youtube {
  order: 2;
  background-image: url(img/work2.png);
}

.work__zoom {
  background-image: url(img/work3.png);
}

.contact {
  margin-top: 140px;
  padding: 20px 40px;
  background-color: rgb(192, 196, 238);
  width: 100%;
  height: 15vh;
}

.contact nav {
  height: 100%;
}

.contact nav {
  display: flex;
  height: 100%;
}

.contact nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 5px;
}

.contact__info {
  text-align: left;
}

.contact__info a span,
.contact__info span {
  margin-left: 10px;
}

.fa-phone {
  margin-left: 20px;
}
